md-dialog#auth-dialog(md-theme='cyan')
  md-content
    .row
      md-text-float(label='Email', type='email', ng-model='params.email')
    .row
      md-text-float(label='Password', type='password', ng-model='params.password')
    .row.row-forgot
      a(href='/forgot', target='_blank') Forgot password?
    .row.row-error(ng-show="errorMessage") {{errorMessage}}
  .md-actions
    md-button(ng-click='cancel()') Cancel
    span(flex='flex')
    md-button.md-primary(ng-disabled='canceler !== null' ng-click="signUp()") Sign up
    md-button.md-primary(ng-disabled='canceler !== null' ng-click="signIn()") Sign in
