material-dialog
  material-tabs(selected='selectedTabIndex')
    material-tab(label='Sign up')
    material-tab(label='Sign in')
  material-content(ng-show='selectedTabIndex == 0')
    .row
      input(placeholder='Email', type='email', ng-model='signUpParams.email')
    .row
      input(placeholder='Password', type='password', ng-model='signUpParams.password')
    .row
      input(placeholder='Confirm password (optional)', type='password', ng-model='signUpParams.confirmPassword')
    .row {{signUpErrorMessage}}
  material-content(ng-show='selectedTabIndex == 1')
    .row
      input(placeholder='Email', type='email', ng-model='signInParams.email')
    .row
      input(placeholder='Password', type='password', ng-model='signInParams.password')
    .row
      a(href='/forgot', target='_blank') Forgot password?
    .row {{signInErrorMessage}}
  .material-actions
    material-button(ng-click='cancel()') Cancel
    span(flex='flex')
    material-button.material-primary(ng-show='selectedTabIndex == 0', ng-disabled='canceler !== null' ng-click="signUp()") Sign up
    material-button.material-primary(ng-show='selectedTabIndex == 1', ng-disabled='canceler !== null' ng-click="signIn()") Sign in
