md-bottom-sheet.md-grid
  md-list
    md-item(ng-repeat='outputType in OUTPUT_TYPES', ng-click='hideBottomSheet(outputType.type)')
      .md-item-content
        .md-icon-container
          md-inline-grid-icon.output-icon(input-type='{{outputType.type}}')
        p.md-grid-text  {{ outputType.title }}
