.output-row.sortable-item(ng-repeat='metaOutput in doc.metaOutputs track by metaOutput.id')
  div(ng-if='editMode || outputs[metaOutput.id]', ng-class="{'hidden': !outputs[metaOutput.id]}", ng-include='getOutputTemplateName(metaOutput)')
