.input-row.sortable-item(ng-repeat='metaInput in doc.metaInputs track by metaInput.id', ng-include='getInputTemplateName(metaInput)', ng-init='inputsInner = inputs; metaInputs=doc.metaInputs', ng-class="{'calc-hidden': !usedInputs[metaInput.name].used}")
