#io-container(flex='flex')
  #inputs(ng-click="addInput({$event: $event})")
    div(style='height: 1000px;') inputs, {{doc}}, {{editMode}}
  #outputs(ng-click="addOutput({$event: $event})")
    span outputs
