.date-input-container
  .first-row {{metaInput.label || '[Label goes here]'}}
  .second-row
    jscalc-date-input(ng-model="inputsInner[metaInput.id]", default-value-type='{{DEFAULTS.dateInputValueType}}', required)
    .config-icons(ng-include="'/partials/input_config_icons'")
