.text-input-container
  .title-row
    .title {{metaInput.label || '[Label goes here]'}}:
    .config-icons(ng-include="'/partials/input_config_icons'")
  .content-row
    md-text-float(type="number", ng-model="inputsInner[metaInput.id]" required)
