.list-input-container(ng-init='metaInputOuter = metaInput')
  .item.item-prototype(ng-if='editMode')
    .title-row
      span.label {{metaInput.label || 'Item'}} Prototype
      .config-icons(ng-include="'/partials/input_config_icons'")
    .subtitle-row
      | Will not be displayed in published calculator.
    .content-row
      .sortable-container(ui-sortable, ng-model='metaInputOuter.metaInputs')
        .input-row.sortable-item(ng-repeat='metaInput in metaInputOuter.metaInputs track by metaInput.id', ng-include='getInputTemplateName(metaInput)', ng-init='inputsInner = metaInputOuter.itemPrototype; metaInputs = metaInputOuter.metaInputs')
      .button-row
        md-button.md-primary(ng-click="addInput({$event: $event, metaInputs: metaInputOuter.metaInputs})") Add input
  .item.item-actual(ng-repeat='listItem in inputsInner[metaInput.id]', ng-init='indexListItem = $index; editMode = false')
    .title-row
      span.label {{metaInput.label}} {{$index + 1}}
      button.button-action.menu-icon.delete-item(aria-label='Delete', ng-click="deleteItem(inputsInner[metaInput.id], $index)")
        .md-icon-container
          .inline-icon.delete-icon.black-icon
    .content-row
      .input-row.sortable-item(ng-repeat='metaInput in metaInputOuter.metaInputs track by metaInput.id', ng-include='getInputTemplateName(metaInput)', ng-init='inputsInner = listItem; metaInputs = metaInputOuter.metaInputs', ng-class="{'calc-hidden': !usedInputs[metaInputOuter.id].properties[indexListItem].properties[metaInput.id].used}")
  .button-row
    md-button.md-primary(ng-click="addItem(inputsInner[metaInput.id], metaInput)") Add {{metaInput.label || 'Item'}}
