.text-input-container(layout='horizontal', layout-align="start end")
  md-text-float(label="{{metaInput.label || '[Label goes here]'}}", type="number", ng-model="inputsInner[metaInput.id]" required)
  .config-icons(ng-include="'/partials/input_config_icons'")
