.date-input-container
  .title-row
    .title {{metaInput.label || '[Label goes here]'}}:
    .config-icons(ng-include="'/partials/input_config_icons'")
  .content-row
    jscalc-date-input(ng-model="inputsInner[metaInput.id]", default-value-type='{{DEFAULTS.dateInputValueType}}', required)
