.list-input-container(ng-init='metaInputOuter = metaInput')
  .item.item-prototype(ng-if='editMode')
    .title-row.title-row-list
      .title Prototype of {{metaInput.label || '[Item name goes here]'}}
      .config-icons(ng-include="'/partials/input_config_icons'")
    .content-row
      .comment
        | This prototype of a repeating item will not be displayed in the published calculator. Use it to configure (1) inputs that each item consists of, and (2) initial values for newly added items.
      .sortable-container(ui-sortable='{axis: "y"}', ng-model='metaInputOuter.metaInputs')
        .input-row.sortable-item(ng-repeat='metaInput in metaInputOuter.metaInputs track by metaInput.id', ng-include='getInputTemplateName(metaInput)', ng-init='inputsInner = metaInputOuter.itemPrototype; metaInputs = metaInputOuter.metaInputs; hidden = false')
      .button-row
        md-button.md-primary(ng-click="addInput({$event: $event, metaInputs: metaInputOuter.metaInputs, nested: true})") Add input
  .item.item-actual(ng-repeat='listItem in inputsInner[metaInput.id]', ng-init='indexListItem = $index; editMode = false')
    .title-row.title-row-list
      .title {{metaInput.label || '[Item name goes here]'}} {{$index + 1}}
      .config-icons
        button.button-action.menu-icon.delete-item(aria-label='Delete', ng-click="deleteItem(inputsInner[metaInput.id], $index)")
          .md-icon-container
            .inline-icon.delete-primary-icon
    .content-row
      .input-row.sortable-item(ng-repeat='metaInput in metaInputOuter.metaInputs track by metaInput.id', ng-include='getInputTemplateName(metaInput)', ng-init='inputsInner = listItem; metaInputs = metaInputOuter.metaInputs', ng-class="{'hidden': metaInput.autohide && !usedInputs[metaInputOuter.id].properties[indexListItem].properties[metaInput.id].used}")
  .button-row
    md-button.md-primary(ng-click="addItem(inputsInner[metaInput.id], metaInput)") Add {{metaInput.label || '[Item name goes here]'}}
