.value-output-container(layout='horizontal')
  .content(flex)
    span.label {{metaOutput.label || '[Label goes here]'}}:
    = ' '
    span.output-text(ng-if='outputs[metaOutput.id].type != "boolean"')
      | {{outputs[metaOutput.id].value}}
    span.output-boolean(ng-if='outputs[metaOutput.id].type == "boolean"')
      | {{outputs[metaOutput.id].value ? 'Yes' : 'No'}}
  .config-icons(ng-include="'/partials/output_config_icons'")
