.hidden-indicator
  .content Hidden
button.button-action.menu-icon(ng-if='editMode', aria-label='Configure', ng-click="configureOutput({metaOutputs: doc.metaOutputs, metaOutput: metaOutput})")
  .md-icon-container
    .inline-icon.settings-icon.black-icon
button.button-action.menu-icon(ng-if='editMode', aria-label='Delete', ng-click="deleteOutput({id: metaOutput.id})")
  .md-icon-container
    .inline-icon.delete-icon.black-icon
