md-toolbar#toolbar-published.md-tall
  div.md-toolbar-tools(ng-include="'/partials/toolbar_tools'", ng-controller='ToolbarToolsCtrl')
md-content#tab-content(ng-if='calc !== null', flex, layout='vertical')
  div(flex, layout='vertical')
    jscalc-calc(flex, layout='vertical', doc="calc.doc", inputs='inputs', edit-mode='false')
