.title Choice Input Settings
.content(ng-if="settingsModel.metaInput")
  div(ng-include="'/partials/settings_input_common'")
  h3 Choices
  .sortable-container(ui-sortable='{axis: "y"}', ng-model="settingsModel.metaInput.choices")
    .choice.sortable-item(ng-repeat='choice in settingsModel.metaInput.choices track by choice.id')
      .label-row(layout="horizontal")
        .label(flex) Option {{$index + 1}}
        button.button-delete-choice.menu-icon(aria-label='Delete', ng-click="deleteChoice(settingsModel.metaInput.choices, choice.id)")
          .md-icon-container
            .inline-icon.delete-primary-icon
      md-text-float(label='Label', ng-model='choice.label')
      md-text-float(label='Value', ng-model='choice.value')
  .button-row
    md-button.md-primary(ng-click="addChoice(settingsModel.metaInput)") Add choice
