.title Calculator Settings
.content
  md-text-float(label='Title', ng-model='settingsModel.name')
  .radio-label Tab size:
  md-radio-group(ng-model='settingsModel.tabSize', jscalc-number-to-string, jscalc-default, default-value="DEFAULTS.tabSize")
    md-radio-button(value='2', aria-label='2 spaces') 2 spaces
    md-radio-button(value='4', aria-label='4 spaces') 4 spaces
