.title Table Output Settings
.content
  div(ng-include="'/partials/settings_output_common'")
  h3 Columns
  .sortable-container(ui-sortable='{axis: "y"}', ng-model="settingsModel.metaOutput.metaOutputs")
    .column.sortable-item(ng-repeat='column in settingsModel.metaOutput.metaOutputs track by column.id')
      .label-row
        .label Column {{$index + 1}}
        button.button-delete-column.menu-icon(aria-label='Delete', ng-click="deleteColumn(settingsModel.metaOutput.metaOutputs, column.id)")
          .md-icon-container
            .inline-icon.delete-icon.black-icon
      md-text-float(label='Property name', ng-model='column.name')
      .warning(ng-if='isNameConflict(settingsModel.metaOutput.metaOutputs, column)')
        | This name conflicts with that of another column.
      md-text-float(label="Header", ng-model='column.label')
      md-text-float(label='Decimal places', type='number', ng-model='column.decimalPlaces')
      md-text-float(label='Currency sign', ng-model='column.currencySign')
      md-checkbox(ng-model='column.percent') Display in percent
  .button-row
    md-button.md-primary(ng-click="addColumn(settingsModel.metaOutput)") Add column
