md-toolbar#toolbar-source.md-tall
  div.md-toolbar-tools(ng-include="'/partials/toolbar_tools'", ng-controller='ToolbarToolsCtrl')
  md-tabs(selected='selectedTabIndex')
    md-tab(label='IO')
    md-tab(label='SCRIPT')
    md-tab(label='SHARE')
md-content#tab-content(ng-if='calc !== null', flex, layout='vertical')
  div(ng-show='selectedTabIndex == 0', flex, layout='vertical')
    jscalc-calc(flex, layout='vertical', doc='calc.doc', edit-mode='true')
  div(ng-show='selectedTabIndex == 1', flex, layout='vertical')
    #script-container(flex, layout='horizontal')
      #script(flex, flex-sm='60')
        div(ui-ace='{onLoad: onAceLoad}')
      md-content.md-padding#cheat-sheet(flex)
        span cheat sheet
  div(ng-show='selectedTabIndex == 2', flex, layout='vertical')
    #share-container(flex, layout='horizontal')
      md-content.md-padding#share(flex flex-sm='75')
        p(ng-show='newAndNotSaved') After you save this calculator, it will become available on the web at the following URL:
        p(ng-show='!newAndNotSaved') This calculator is published on the web at the following URL:
        p
          a(href='/calc/{{calcId}}') https://jscalc.io/calc/{{calcId}}
