material-toolbar#toolbar-source.material-tall
  .material-toolbar-tools
    button.icon(hide-md='hide-md', aria-label='Toggle Menu', ng-click='toggleNav()')
      material-icon(icon='img/icons/ic_menu_24px.svg')
    span#app-title Abc, {{calcId}}
  material-tabs(selected='selectedTabIndex')
    material-tab(label='IO')
    material-tab(label='SCRIPT')
material-content#tab-content(flex='flex', layout='vertical')
  div(ng-show='selectedTabIndex == 0', flex='flex', layout='vertical')
    div(ng-include="'/partials/calc'", flex='flex', layout='vertical')
  div(ng-show='selectedTabIndex == 1', flex='flex', layout='vertical')
    #script-container(flex='flex', layout='horizontal')
      #script(flex='flex', flex-sm='60')
        div(ui-ace='{onLoad: onAceLoad}')
      #cheat-sheet(flex='flex')
        span cheat sheet
