.sidenav-container(flex, layout='horizontal')
  .sidenav-container-content(flex, layout='vertical')
    md-toolbar#toolbar-source.md-tall
      div.md-toolbar-tools(ng-include="'/partials/toolbar_tools'", ng-controller='ToolbarToolsCtrl')
      md-tabs(selected='selectedTabIndex')
        md-tab(label='IO')
        md-tab(label='SCRIPT')
        md-tab(label='SHARE')
    md-content#tab-content(ng-if='calc !== null', flex, layout='vertical')
      div(ng-show='selectedTabIndex == 0', flex, layout='vertical')
        jscalc-calc(flex, layout='vertical', doc='calc.doc', inputs='inputs', edit-mode='true',
        add-input='addInput($event, metaInputs, nested)', add-output='addOutput($event)', configure-input='configureInput(metaInputs, metaInput)', delete-input='deleteInput(metaInputs, id)', configure-output='configureOutput(metaOutputs, metaOutput)', delete-output='deleteOutput(id)', goto-line='gotoLine(lineNumber)', is-active='ioVisible()')
      div(ng-show='selectedTabIndex == 1', flex, layout='vertical')
        #script-container(flex, layout='horizontal')
          #script(flex)
            div(ui-ace='{onLoad: onAceLoad}')
          md-content.md-padding#cheat-sheet(flex="33")
            .frame-title Cheatsheet
            .content(ng-if='!(calc.doc.metaInputs.length && calc.doc.metaOutputs.length)')
              p
                | Not so fast! First add some
                = ' '
                span(ng-if='!calc.doc.metaInputs.length && calc.doc.metaOutputs.length') inputs
                span(ng-if='calc.doc.metaInputs.length && !calc.doc.metaOutputs.length') outputs
                span(ng-if='!calc.doc.metaInputs.length && !calc.doc.metaOutputs.length') inputs and outputs
                = ' '
                | in the IO tab.
            .content(ng-if='calc.doc.metaInputs.length && calc.doc.metaOutputs.length')
              p
                | You need to write the body of a function that transforms inputs into outputs:
              pre
                | function(inputs) {
                |   [Your script goes here]
                | } -> outputs
              p
                | where
                = ' '
                code inputs
                = ' '
                | is an object like this:
              pre
                | {{getInputsSchema()}}
              p
                | and the returned value is an object like this:
              pre
                | {{getOutputsSchema()}}
              p
                | You can configure property names in both above objects in settings for specific inputs or outputs - this cheatsheet will update itself accordingly. You can omit some of the properties from the outputs object, in which case corresponding outputs will not be displayed.
              p
                | The script will be run in a Web Worker. You can choose which libraries to use in calculator settings. If the script throws an error, its string representation will be displayed to the user, so you could write something like
                = ' '
                code throw 'Text to display'
                = ' '
                | .
              p
                | Script editor keyboard shortcuts are listed
                = ' '
                a(href='https://github.com/ajaxorg/ace/wiki/Default-Keyboard-Shortcuts', target='_blank') on this page
                | , and you can also hit Cmd/Ctrl + S to save all changes in the calculator.

      div(ng-show='selectedTabIndex == 2', flex, layout='vertical')
        #share-container(flex, layout='horizontal')
          md-content.md-padding#share(flex)
            p(ng-show='newAndNotSaved') After you save this calculator, it will become available on the web at the following URL:
            p(ng-show='!newAndNotSaved') This calculator is published on the web at the following URL:
            p
              a(href='/calc/{{calcId}}') https://jscalc.io/calc/{{calcId}}
  md-sidenav.md-sidenav-right.md-whiteframe-z3(component-id='right',  is-locked-open="sidenavsLockedOpen", is-open='settingsOpen', layout='vertical')
    md-content.settings(flex, ng-include='settingsTemplate')
