button.menu-icon(ng-show='!sidenavsLockedOpen', aria-label='Toggle Menu', ng-click='toggleNav()')
  .inline-icon.menu-icon.menu-image-icon.black-icon
span(ng-if='!view.showCreateCalcButton', flex)#app-title {{title}}
md-button(ng-if='view.showCreateCalcButton', ng-click='new()') Create a calculator now!
span(flex ng-if='view.showCreateCalcButton')
button.button-action.menu-icon(ng-show='view.isEditMode', aria-label='Configure', ng-click="openSettings('/partials/settings_calc', calc.doc)")
  .inline-icon.settings-icon.black-icon
button.button-action.menu-icon(ng-show='view.isEditMode', aria-label='Save', ng-click='save($event)')
  .rotatable-container
    .inline-icon.save-icon.black-icon(ng-class="{rotating: saving}")
button.button-action.button-more.menu-icon(aria-label='More', ng-click='toggleMenu($event)')
  .inline-icon.more-vert-icon.black-icon
