md-toolbar.md-whiteframe-z1
  .md-toolbar-tools
    button.menu-icon(ng-show='!sidenavsLockedOpen', aria-label='Toggle Menu', ng-click='toggleNav()')
      md-icon(icon='/img/icons/ic_menu_24px.svg')
    span#app-title JSCalc
md-content.md-padding(flex)
  | Work in progress. Source code:
  =  ' '
  a(href='https://github.com/ivan7237d/jscalc') https://github.com/ivan7237d/jscalc
