md-toolbar.md-whiteframe-z1
  div.md-toolbar-tools(ng-include="'/partials/toolbar_tools'", ng-controller='ToolbarToolsCtrl')
md-content.md-padding(flex)
  | Work in progress. Source code:
  =  ' '
  a(href='https://github.com/ivan7237d/jscalc') https://github.com/ivan7237d/jscalc
