@import 'lib/color-palette';

$seam-border-color: #E0E0E0;
$primary-color-palette: $color-cyan;

@mixin z1 {
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}


@mixin z2 {
  box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
}


a, .link-button {
  color: map-get($primary-color-palette, '400');
  text-decoration: none;
  font-weight: 400;

  &:focus {
    background-color: #EEE;
  }
}

.link-button {
  display: inline;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-weight: normal;
}


md-sidenav {
  width: 250px;
}


.md-sidenav-left {
  a, .section, button {
    text-decoration: none;
    font-size: 0.9em;
    line-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: transparent;
    color: inherit;
    border: none;
    margin: 0;
    padding: 0 24px;
    position: relative;

    &.indent {
      padding-left: 48px;
    }
  }

  a {
    position: relative;
    display: block;
    color: inherit;

    &.active {
      font-weight: bold;
    }
  }

  .section {
    color: #bbb;
    font-weight: bold;
  }

  #logo {
    height: 64px;
    border-bottom: 1px solid $seam-border-color;
    margin-bottom: 12px;
  }

  .new-calculator-icon {
    position: absolute;
    top: 2px;
    left: 19px;
  }

  .new-calculator-label {
    margin-left: 21px;
  }
}


.menu-icon {
  background: none;
  border: none;
}


.md-icon {
  opacity: 0.6;
}


#app-title {
  font-size: 24px;
  line-height: 64px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.button-action {
  margin: 0 5px;
}


.button-more {
  padding: 0 3px;
}


.rotatable {
  position: relative;
  width: 24px;
  height: 24px;
}


.rotatable .md-icon {
  position: absolute;
  top: 12px;
  left: 12px;
  margin-left: -12px;
  margin-top: -12px;
}


.rotating .md-icon {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.menu {
  position: absolute;
  z-index: 3;
  right: 15px;
  top: 15px;
  background: #fff;
  color: rgba(0, 0, 0, 0.73);
  border-radius: 2px;
  min-width: 168px;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  line-height: 48px;
}


#toolbar-source, #toolbar-published {
  @include z1;
}


#toolbar-source {
  height: 112px;
}


#toolbar-published {
  height: 64px;
}


#tab-content {
  overflow: visible;
  z-index: 0;
}


#io-container {
  overflow: auto;
}


#inputs, #outputs {
  background-color: #fff;
}


#inputs {
  border-bottom: 1px solid $seam-border-color;
}


#script {
  position: relative;
}


#cheat-sheet {
  display: none;
}


.ace_editor {
  position: absolute;
  top: 0;
  left: 0;
  right: -0.5px;
  bottom: 0;
}


#share {
  text-align: center;

  a {
    font-size: 24px;
  }
}


#auth-dialog {
  md-content {
    width: 250px;
    background: transparent;
    padding-bottom: 12px;
  }

  .text-rows {
    margin-top: 34px;
  }

  .text-row {
    margin-top: 12px;
    font-size: 14px;
  }

  .row-error {
    color: map-get($color-red, '500')
  }

  md-progress-circular {
    margin-right: -16px;
  }
}


.account-settings-content {
  margin-left: auto;
  margin-right: auto;

  .section {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin-bottom: 20px;

    .action-row {
      margin-top: 27px;
    }
  }
}


md-progress-circular {
  display: inline-block;
  -webkit-transform: scale(0.5) !important;
  transform: scale(0.5) !important;
  margin-top: -12px;
  margin-bottom: -11px;
}


@media (min-width: 600px) {
  #toolbar-source, #toolbar-published {
    box-shadow: none;
    z-index: 0;
  }


  #toolbar-source {
    height: 192px;

    md-tabs {
      margin-left: 18px;
    }

    md-tab {
      max-width: 106px;
    }
  }


  #toolbar-published {
    height: 126px;
  }


  #tab-content {
    background-color: #f9f9f9;
  }


  #io-container, #script-container, #share-container {
    padding: 9px;
    margin-top: -80px;
  }


  #io-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }


  #inputs, #outputs, #script, #cheat-sheet, #share {
    /* Placed above toolbar. */
    z-index: 2;
    margin: 9px;
    @include z1;
  }


  #inputs, #outputs {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }


  #inputs, #outputs, #cheat-sheet {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }


  #cheat-sheet {
    display: block;
  }


  #inputs {
    border-bottom: none;
  }
}
