@import 'lib/color-palette';

$seam-border-color: #E0E0E0;
$header-color: #aaa;
$primary-color-palette: $color-cyan;

body {
  font-size: 15px;
}

code, pre {
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
  font-size: 12px;
}

@mixin z1 {
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}


@mixin z2 {
  box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.2);
}


a, .link-button {
  color: map-get($primary-color-palette, '400');
  text-decoration: none;
  font-weight: 400;

  &:focus {
    background-color: #EEE !important;
  }
}

.link-button {
  display: inline;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-weight: normal;
}


md-sidenav {
  width: 250px;
  background-color: #FAFAFA;

  md-content {
    background-color: transparent !important;
  }
}


.md-sidenav-left {
  a, .section, button {
    text-decoration: none;
    font-size: 13px;
    line-height: 44px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: transparent;
    color: inherit;
    border: none;
    margin: 0;
    padding: 0 24px;
    position: relative;
    font-weight: bold;

    &.indent {
      padding-left: 48px;
    }
  }

  a {
    position: relative;
    display: block;
    color: inherit;

    &.active {
      color: map-get($primary-color-palette, '400');
    }
  }

  .section {
    color: $header-color;
  }

  #logo {
    font-size: 20px;
    line-height: 64px;
    border-bottom: 1px solid $seam-border-color;
    margin-bottom: 12px;
    font-weight: normal;
    padding-left: 65px;
    color: inherit !important;

    .logo-icon {
      position: absolute;
      top: 15px;
      left: 24px;
      width: 33px;
      height: 33px;
      opacity: 0.8;
    }
  }

  .new-calculator-icon {
    position: absolute;
    top: 10px;
    left: 19px;
  }

  .new-calculator-label {
    margin-left: 21px;
  }
}


.menu-icon {
  background: none;
  border: none;
}


.black-icon {
  opacity: 0.5;
}


#app-title {
  font-size: 24px;
  line-height: 64px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.button-action {
  margin: 0 5px;
}


.button-more {
  padding: 0 3px;
}


.rotatable {
  position: relative;
  width: 24px;
  height: 24px;
}


.rotatable .md-icon {
  position: absolute;
  top: 12px;
  left: 12px;
  margin-left: -12px;
  margin-top: -12px;
}


.rotating .md-icon {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.menu {
  position: absolute;
  z-index: 3;
  right: 15px;
  top: 15px;
  background: #fff;
  color: rgba(0, 0, 0, 0.73);
  border-radius: 2px;
  min-width: 168px;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  line-height: 48px;
}


#toolbar-source, #toolbar-published {
  @include z1;
}


#toolbar-source {
  height: 112px;
}


#toolbar-published {
  height: 64px;
}


#tab-content {
  overflow: visible;
  z-index: 0;
}


.md-icon-container {
  background-repeat: no-repeat;
}

#io-container {
  overflow: auto;
}


#inputs, #outputs, #cheat-sheet {
  background-color: #fff;
  padding: 0 20px;

  .frame-title {
    color: $header-color;
    font-size: 20px;
    font-weight: bold;
    margin: 22px 0px;
  }

  .button-row {
    margin-left: -6px;
    margin-right: -6px;
  }
}


#inputs {
  border-bottom: 1px solid $seam-border-color;
}

.sortable-container .sortable-item {
  cursor: move;
}

.inline-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.input-row, .output-row, .button-row {
  margin-top: 30px;
  margin-bottom: 30px;

  .comment {
    font-size: 13px;
    margin-top: 10px;
    color: #AAA;
  }
}


.config-icons {
  display: inline-block;
  white-space: nowrap;
  margin-left: -7px;
  vertical-align: baseline;
  margin-bottom: -12px;
  margin-top: -11px;
  top: 7px;
  position: relative;
  margin-right: -11px;

  button {
    margin: 0;
  }
}


.title-row {
  .title {
    display: inline-block;
    margin-right: 16px;
    color: $header-color;
    font-weight: bold;
    font-size: 13px;
    white-space: nowrap;
  }
}


.input-row {
  md-input-group {
    display: inline-block;
    /* Prevent jumpy effect when focusing */
    height: 32px;
    margin-bottom: 0;
    margin-top: 4px;
  }

  md-radio-group {
    margin-bottom: -15px;
  }

  md-radio-button, .md-switch-thumb {
    margin: 10px;
  }
}


.hidden-indicator {
  display: none;
  background-color: rgba(43, 175, 43, 0.87);
  border-radius: 20px;
  font-size: 13px;
  color: #FFF;
  padding: 1px 6px;
  position: relative;
  top: -7px;
  margin-left: 10px;
}

.edit-mode .hidden .hidden-indicator {
  display: inline-block;
}


.hidden {
  display: none;
}

.edit-mode .hidden {
  display: block;
}


.checkbox-input-container {
  md-checkbox {
    display: inline-block;
    margin: 0 15px 0 0;
  }
}


.text-button-icon {
  width: 20px;
  height: 20px;
  margin-top: -2px;
  margin-bottom: -4px;
}


.text-button-icon-small {
  width: 20px;
  height: 20px;
  margin-top: -3px;
  margin-bottom: -5px;
}


jscalc-date-input {
  display: inline-block;
  margin-right: 19px;

  select {
    margin-bottom: 6px;
  }

  .content {
    height: 37px;
  }

  .today-plus {
    margin-bottom: 8px;
  }

  .footer {
    margin-top: 5px;
    margin-bottom: -5px;

    md-button {
      margin-right: -6px;
    }
  }

  .absolute-date {
    color: $header-color;
    margin-top: 6px;
  }

  .day, .year {
    margin: 0 0 0 24px;

    input {
      width: 80px
    }
  }

  .delta {
    margin: 0 24px;

    input {
      width: 80px
    }
  }

  .forward-icon {
    opacity: 0.5;
  }
}


.list-input-container {
  .item {
    margin-top: 24px;
  }

  & > .item > .content-row {
    margin-left: 20px;
  }

  .item-prototype {
    background-color: #F4F4F4;
    padding: 15px 20px;
    margin: 0 -20px;

    .button-row {
      margin-bottom: 0;
    }
  }
}


.debug-comment {
  font-size: 13px;
  color: #AAA;
  margin-top: -22px;
  margin-bottom: 30px;
}


.outputs-warning {
  display: inline-block;
  height: 48px;
  width: 48px;
  margin-right: 12px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.value-output-container {
  .content-row {
    margin-top: 12px;
  }
}


.table-output-container {
  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 10px;
  }

  th, td {
    text-align: left;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #DDD;
  }

  th {
    color: $header-color;
    font-size: 13px;
    vertical-align: bottom;
    border-bottom: 2px solid map-get($primary-color-palette, '400');
    border-top: 0;
  }
}

#script {
  position: relative;
}


#cheat-sheet {
  display: none;
  font-size: 13px;

  p {
    line-height: 22px;
  }

  pre {
    margin-left: 20px;
  }
}


.ace_editor {
  position: absolute;
  top: 0;
  left: 0;
  right: -0.5px;
  bottom: 0;
}


#share {
  text-align: center;

  a {
    font-size: 24px;
    word-wrap: break-word;
  }
}


.settings {
  .title {
    font-size: 20px;
    line-height: 64px;
    padding: 0 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px solid $seam-border-color;
  }

  .content {
    padding: 20px;
    padding-top: 0;
  }


  .label-row {
    margin: 16px 0;
  }


  .radio-label {
    margin-top: 24px;
  }


  .warning {
    color: map-get($color-red, '500');
    font-size: 14px;
  }

  h3 {
    font-weight: normal;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
  }


  .choice, .column {
    margin-bottom: 40px;
  }


  .label {
    display: inline-block;
    color: map-get($primary-color-palette, '400');
  }

  .button-delete-choice, .button-delete-column {
    margin: -9px 0 -8px;
    vertical-align: top;
  }


  .button-row {
    margin-left: -6px;
    margin-right: -6px;
  }

  md-checkbox {
    margin-left: 0;
  }

  .comment {
    margin-top: -10px;
    font-size: 14px;
  }
}


md-bottom-sheet {
  md-item {
    p.md-grid-text {
      width: 80px !important;
    }
  }

  .md-icon-container md-inline-grid-icon {
    display: inline-block;
    height: 48px;
    width: 48px;
    opacity: 0.5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}


#auth-dialog {
  md-content {
    width: 250px;
    background: transparent;
    padding-bottom: 12px;
  }

  .text-rows {
    margin-top: 34px;
  }

  .text-row {
    margin-top: 12px;
    font-size: 14px;
  }

  .row-error {
    color: map-get($color-red, '500')
  }

  md-progress-circular {
    margin-right: -16px;
  }
}


.account-settings-content {
  margin-left: auto;
  margin-right: auto;

  .section {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin-bottom: 20px;

    .action-row {
      margin-top: 27px;
    }
  }

  h3 {
    font-weight: normal;
    font-size: 20px;
    color: map-get($primary-color-palette, '400');
  }
}


md-progress-circular {
  display: inline-block;
  -webkit-transform: scale(0.5) !important;
  transform: scale(0.5) !important;
  margin-top: -12px;
  margin-bottom: -11px;
}


@media (min-width: 800px) {
  #toolbar-source, #toolbar-published {
    box-shadow: none;
    z-index: 0;
  }


  #toolbar-source {
    height: 192px;

    md-tabs {
      margin-left: 18px;
    }

    md-tab {
      max-width: 106px;

      md-tab-label {
        font-size: 15px;
      }
    }
  }


  #toolbar-published {
    height: 126px;
  }


  #tab-content {
    background-color: #B5DEE4;
  }


  #io-container, #script-container, #share-container {
    padding: 9px;
    margin-top: -80px;
  }


  #io-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
  }


  #inputs, #outputs, #script, #cheat-sheet, #share {
    /* Placed above toolbar. */
    z-index: 2;
    margin: 9px;
    @include z1;
  }


  #inputs, #outputs {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }


  #inputs, #outputs, #cheat-sheet {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }


  #cheat-sheet {
    display: block;
  }


  #inputs {
    border-bottom: none;
  }
}
