.alert {
  background-color: #323232;
  color: #fff;
  padding: 18px 24px;
  border-radius: 2px;
  font-size: 14px;
  margin-bottom: 12px;
}


.container {
  margin: 24px;
}


legend {
  font-size: 24px;
  padding: 0;
}

.form-group {
  margin: 2em 0;
}


button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  display: inline-block;
  outline: none;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  font-weight: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  cursor: pointer;
  overflow: hidden;
  line-height: 25px;
  padding: 0 1em;
  background-color: #4285F4;
  color: #fff;
}


button:hover:not([disabled]), button:focus {
  background-color: #3367D6;
}
