doctype html
html(lang='en', ng-app='jscalcApp', ng-controller='JscalcCtrl')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='fragment', content='!')
    title JSCalc
    link(rel='stylesheet', href='/bower_components/angular-material/angular-material.css')
    link(rel='stylesheet', href='/bower_components/angular-material/themes/cyan-theme.css')
    // See https://github.com/ajaxorg/ace-builds/issues/45.
    script(src='/bower_components/ace-builds/src-min-noconflict/ace.js')
    != js('index')
    != css('index')
    script.
      angular.module('preloadedData', [])
      .constant('PRELOADED_DATA', !{JSON.stringify(preloaded)});
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56071268-1', 'auto');
      ga('send', 'pageview');
  body(layout='horizontal', md-theme="cyan")
    md-sidenav.md-sidenav-left.md-whiteframe-z3(component-id='left',  is-locked-open="sidenavsLockedOpen", layout='vertical', ng-click="closeNav()")
      md-content#side-nav(flex)
        a#logo(href='/', ng-class="{active: isCurrentLocation('/')}") JSCalc
        button(ng-if="user === null" ng-click="login()") Sign up/in
        button(ng-if="user.email" ng-click="logout()") Sign out
        a(href='/new') New calculator
        a(ng-repeat='calc in user.calcs', ng-init="url = '/source/' + calc._id" href="{{url}}", ng-class="{active: isCurrentLocation(url)}") {{calc.doc.name || 'Untitled calculator'}}
        a(href='/account', ng-class="{active: isCurrentLocation('/account')}") Account settings
    md-content(role='main', layout='vertical', layout-fill='layout-fill', scroll-y='scroll-y', ng-view='ng-view')
