doctype html
html(lang='en', ng-app)
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='csrf-token', content=_csrf)
    title #{title} | JSCalc
    link(rel='stylesheet', href='/bower_components/angular-material/angular-material.css')
    != css('static')
  body(layout='horizontal' layout-align='center')
    .container(layout='vertical' layout-align='center')
      block content
      include partials_jade/flash
